.projectExp {
    width: inherit;
    text-align: center;
    display: flex;
    padding: 0.5rem 1rem;
}

.project-desc {
    height: inherit;
    text-align: left;
    padding: 1rem;
}

.project-desc h2 {
    color: #d35252;
    font-weight: bold;
    padding-top: 1.5rem;
}

.project-desc a{
    font-weight: 400;
    text-decoration: none;
}