.Pic {
    position: relative;
    border-radius: 15%;
    max-height : 20rem;
}

.point {
    font-weight: bold;
    margin-bottom: 1rem;
}

.workExp {
    width: inherit;
    text-align: center;
    display: flex;
    padding: 0.5rem 1rem;
    margin: auto;
    flex-wrap: wrap;
}

.w-left {
    flex: 1;
    height: inherit;
}

.w-right {
    flex: 2;
    height: inherit;
    text-align: left;
    padding: 1rem;
}

ul {
    list-style-type: square;
}

.work-Date {
    float: left;
    border-style: dashed;
    padding: 0.5vh 0.7vw;
    width: 7vw;
    height: 100%;
}

.work-exp-row {
    display: flex;
    width: 80vw;
}

.work-details {
    width: 69vw;
    margin-left: 4vw;
}

.accordion-settings {
    height: 2.25rem;
    width: 7rem;
}

.accordion-job h4{
    color: grey;
    text-align: left;
}

.icon-props {
    height: inherit;
    width: auto;
    margin-right: 1.5rem;
}

.block {
    margin : 2rem auto;
    width : 100%;
}

.tech-stack {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}

.w-right h2 {
    color: #d35252;
    font-weight: bold;
}

.tech-stack h4 {
    font-style: italic;
}

@media screen and (max-width: 900px) { 
    .workExp {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) { 
    .Pic {
        max-width: 100%;
    }
    
    .work-exp-row{
        flex-direction: column;
        width: 100%;
    }

    .work-details{
        width: 100%;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    .work-Date {
        width: 96%;
        margin-bottom: 1rem;
    }
}