.a-page{
  background-image: linear-gradient(to bottom, black, grey);
  min-height: 100vh;
  height: max-content;
} 

.a {
  margin: auto;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.a-left {
  width: 40%;
  height: 100%;
  flex: 1;
}

.a-right {
  height: 100%;
  width: 60%;
  flex: 1;
}

.a-title {
  font-size: 3.125rem;
  font-weight: 600;
  color: #d35252;
  text-align: center;
  padding: 1.56rem 7.5rem 0;
}

.a-card {
  margin: 2rem;
  margin-left: 8vw;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 2px solid red;
  height: max-content;
  border-color: black;
  background-color: white;
  opacity: 0.8;
}

.a-sub {
  margin: 1.25rem 0px;
}

.a-desc p{
  font-weight: 500;
  padding-bottom: 0.6rem;
}

.rotating-box {
  width: 15rem;
  height: 15rem;
  margin: 0.3125rem auto;
  perspective: 22.5rem;
}

.rotating-image {
  width: 15rem;
  height: 15rem;
}

.single-rb {
  width: 15rem;
  height: 15rem;
  animation: rotate 15s linear infinite;
  transform-style: preserve-3d;
  margin-top: 5.625rem;
}

.single-rb img {
  height: 15rem;
  width: 15rem;
}

.single-rb div {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.front-side {
  transform: translateZ(7.5rem);
  box-shadow: 0 0 0.75rem 0px white;
}

.back-side {
  transform: rotateY(180deg) translateZ(7.5rem);
  box-shadow: 0 0 0.75rem 0px white;
}

.left-side {
  transform: rotateY(-90deg) translateX(-7.5rem);
  transform-origin: left;
  box-shadow: 0 0 0.75rem 0px white;
}

.right-side {
  transform: rotateY(90deg) translateX(7.5rem);
  transform-origin: right;
  box-shadow: 0 0 0.75rem 0px white;
}

.top-side {
  transform: rotateX(-90deg) translateY(-7.5rem);
  transform-origin: top;
  box-shadow: 0 0 0.75rem 0px white;
}

.bottom-side {
  transform: rotateX(90deg) translateY(7.5rem);
  transform-origin: bottom;
  box-shadow: 0 0 0.75rem 0px white;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
