.a {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    height: inherit;
}

.a-left {
    flex: 1;
    height: 100%;
    width: 50%;
}

.a-right {
    flex: 1;
    height: 100%;
    width: 50%;
}

.a-card.bg {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background-color: #333;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-title {
    font-size: 3.125rem;
    font-weight: 600;
    color: #d35252;
    text-align: center;
    padding: 1.56rem 6.25rem 0;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc{
    font-weight: 300;
}

.a-page{
    background-color: #28a4d9;
    min-height: max-content;
    min-width: max-content;
    height: calc(100vh - 3.125rem);
}

.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
  }
  
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }
  
    .face1 {
      transform: translateZ(100px);
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
      color: #ec4d28;
    }
  }
  
  @keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
  }
  

// .stage-cube-cont {
//     height: 100%;
//     padding-top: 18%;
//     position: absolute;
  
//   .cubespinner {
//     animation-name: spincube;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
//     animation-duration: 12s;
//     transform-style: preserve-3d;
//     transform-origin: 13rem 13rem 0;
//     left: 50;
//     //margin-left: calc(50% - 100px);
  
//     div {
//       position: absolute;
//       width: 26rem;
//       height: 26rem;
//       border: 1px solid #ccc;
//       background: rgba(255, 255, 255, 0.4);
//       text-align: center;
//       font-size: 13rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       box-shadow: 0 0 1.25rem 0px lightyellow;
//     }
  
//     .face1 {
//       transform: translateZ(13rem);
//       color: #dd0031;
//     }
//     .face2 {
//       transform: rotateY(90deg) translateZ(13rem);
//       color: #f06529;
//     }
//     .face3 {
//       transform: rotateY(90deg) rotateX(90deg) translateZ(13rem);
//       color: #28a4d9;
//     }
//     .face4 {
//       transform: rotateY(180deg) rotateZ(90deg) translateZ(13rem);
//       color: #5ed4f4;
//     }
//     .face5 {
//       transform: rotateY(-90deg) rotateZ(90deg) translateZ(13rem);
//       color: #efd81d;
//     }
//     .face6 {
//       transform: rotateX(-90deg) translateZ(13rem);
//       color: #ec4d28;
//     }
//   }
// }
  
//   @keyframes spincube {
//     from,
//     to {
//       transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
//     }
//     16% {
//       transform: rotateY(-90deg);
//     }
//     33% {
//       transform: rotateY(-90deg) rotateX(90deg);
//     }
//     50% {
//       transform: rotateY(-180deg) rotateZ(90deg);
//     }
//     67% {
//       transform: rotateY(-270deg) rotateX(90deg);
//     }
//     84% {
//       transform: rotateX(90deg);
//     }
//   }